:root {
   --primary: #0F8B8D;
   --secondary: #143642;
   --accent: #EC9A29;
   --button: #A8201A;
   --background: #FFF;
   --font-light: #F9FBFE;
   --font-dark: #143642;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
h1, h2, h3 {
   color: var(--primary);
}

h1 {
   font-size: 48px;
   font-weight: 700;
}

a {
   text-decoration: none;
}

.container {
   width: 100%;
   padding: 0 100px;
}

.main {
   padding-top: 245px;
}

.pageTitle {
   color: var(--primary);
   font-size: 48px;
   font-weight: 700;
   padding-bottom: 40px;
}

/* Header */
header {
   background-color: var(--primary);
   padding: 30px 0;
   width: 100%;
   position: fixed;
}

.logo {
   content: url('../assets/Logo White.png');
   width: 335px;
   height: 67px;
}

.items {
   color: var(--font-light);
   font-size: 30px;
   font-weight: 400;
   padding: 50px;
}

.items:hover {
   color: var(--accent);
   transition: 0.5s;
}

/* Menu */
.menu-container {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.menu-container p {
   color: var(--font-dark);
   font-size: 24px;
   font-weight: 500;
   padding-bottom: 40px;
}

.card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.top-container,
.bottom-container {
   display: flex;
   justify-content: center;
   gap: 120px;
   margin-bottom: 40px;
   flex-wrap: wrap;
}

.card-container p {
   padding: 0;
   margin: 0;
}

.card-container .menu-title {
   color: var(--font-light);
   font-size: 20px;
   font-weight: 700;
}

.card-container .menu-price {
   color: var(--font-light);
   font-size: 18px;
   font-weight: 400;
}

.card {
   background-image: url('../assets/Coffee Background.png');
   border-radius: 20px;
   padding: 15px;
   width: 216px;
   height: 200px;
   text-align: center;
}

.card img {
   width: 186px;
   height: 140px;
   top: 0;
}


/* Find Us */
.findus-container {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding: 0px 140px;
}

.findus-container h1 {
   padding-bottom: 20px;
}

.detailMap p {
   font-size: 24px;
   font-weight: 400;
}

.detailBox {
   width: 475px;
   height: 200px;
   border-radius: 20px;
   border-style: solid;
   border-width: 1px;
   border-color: #D2D2D2;
   padding: 20px 45px;
   margin: 20px 0px;
}

.detailBox p {
   font-size: 20px;
   font-weight: 200;
}

.detailBox h2 {
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 20px;
}

.findus-wrapper img {
   border-radius: 20px;
}

.findus-wrapper{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

/* Footer */
footer .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: var(--secondary);
   width: 100%;
   height: 460px;
   padding: 80px 100px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   margin-top: 100px;
}

.logo-container {
   width: 335px;
}

.links-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.links-container a {
   color: var(--font-light);
   font-size: 24px;
   font-weight: 400;
}

.links-container a:hover {
   color: var(--accent);
   transition: 0.5s;
}

.detail-menu {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.description-detail {
   padding: 45px 120px;
}

.description-detail .divider {
   width: 380px;
   height: 5px;
   background-color: var(--accent);
   margin: 20px 0px;
}

.button {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: fit-content;
   background-color: var(--button);
   border-radius: 55px;
   margin: 45px 0px;
   padding: 20px 40px;
   color: var(--font-light);
}

.button:hover {
   background-color: var(--accent);
   transition: 0.5s;
}

/* Responsive Smartphone */
@media only screen and (max-width: 600px) {}