:root {
   --primary: #0F8B8D;
   --secondary: #143642;
   --accent: #EC9A29;
   --button: #A8201A;
   --background: #FFF;
   --font-light: #F9FBFE;
   --font-dark: #143642;
   --transparent-secondary: rgba(20, 54, 66, 0.7);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

/* Home Pages */
.home-header {
   position: relative;
   height: 100vh;
   background: url('../assets/Coffe Header.png') no-repeat center center/cover;
   display: flex;
   flex-direction: column;
   color: var(--font-light);
   border-radius: 0px 0px 30px 30px;
}

.home-header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--transparent-secondary);
   border-radius: 0px 0px 30px 30px;
}

.header-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 180px 380px 0px 380px;
}

.headerHome {
   font-size: 70px;
   font-weight: 800;
   color: var(--font-light);
   letter-spacing: 1px;
}

.header2Home {
   font-size: 36px;
   font-weight: 400;
   color: var(--font-light);
}

.home-wrapper {
   display: flex;
   flex-direction: row;
   padding: 50px 180px;
   justify-content: center;
   align-items: center;
   column-gap: 70px;
}

.home-wrapperReverse {
   display: flex;
   flex-direction: row-reverse;
   padding: 50px 180px;
   justify-content: center;
   align-items: center;
   column-gap: 70px;
}

.home-wrapper,
.home-wrapperReverse {
   opacity: 0;
   transition: all 0.8s ease-out;
}

.home-wrapper {
   transform: translateX(50px);
}

.home-wrapperReverse {
   transform: translateX(-50px);
}

.home-wrapper.animate,
.home-wrapperReverse.animate {
   opacity: 1;
   transform: translateX(0);
}

.home-wrapper p {
   font-size: 24px;
   font-weight: 400;
}

.home-img {
   width: auto;
   height: auto;
   background-size: cover;
   background-position: center;
}

.home-img img {
   object-fit: cover;
   border-radius: 30px;
}

#feed1 {
   width: 335px;
   height: 460px;
}

#feed2 {
   width: 335px;
   height: 335px;
}

#feed3 {
   width: 453px;
   height: 453px;
}

.feed-row {
   margin-top: 50px;
   gap: 120px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.feed-row img {
   width: 237px;
   height: 237px;
}

.feedTitle {
   width: max-content;
   font-size: 48px;
   font-weight: 800;
}

.feedTitle::after {
   content: " @aroma_bumi!";
   color: var(--accent);
   text-decoration: underline;
}

/* Other Pages */
ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

h1,
h2,
h3 {
   color: var(--primary);
}

h1 {
   font-size: 48px;
   font-weight: 700;
}

a {
   text-decoration: none;
}

.container {
   width: 100%;
   padding: 0 100px;
}

.main {
   padding-top: 245px;
}

.home-main {
   padding-top: 50px;
}

.pageTitle {
   color: var(--primary);
   font-size: 48px;
   font-weight: 700;
   padding-bottom: 40px;
}

/* Header */
header {
   background-color: var(--primary);
   padding: 30px 0;
   width: 100%;
   position: fixed;
}

.logo {
   content: url('../assets/Logo White.png');
   width: 335px;
   height: 67px;
}

.items {
   color: var(--font-light);
   font-size: 30px;
   font-weight: 400;
   padding: 50px;
}

.items:hover {
   color: var(--accent);
   transition: 0.5s;
}

/* Menu */
.menu-container {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}

.menu-container p {
   color: var(--font-dark);
   font-size: 24px;
   font-weight: 500;
   padding-bottom: 40px;
}

.card-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 120px;
   row-gap: 40px;
   margin: 0 auto;
}

.card-container a{
   transition: all 0.4s ease-in-out;
   transform: scale(1) translateY(0);

   .card .menu-price, .card .menu-title {
      transition: all 0.4s ease-in-out;
      transform: scale(1) translateY(0);
   }

   .card img {
      transition: all 0.4s ease-in-out;
      transform: scale(1) translateY(0);
   }
}

.card-container a:hover {
   transform: scale(1.1);

   .card .menu-price, .card .menu-title {
      transform: translateY(140px);
   }
   .card img {
      transform: scale(1.2) translateY(-50px);
   }
}



.card-container p {
   padding: 0;
   margin: 0;
}

.card-container .menu-title {
   color: var(--font-light);
   font-size: 20px;
   font-weight: 700;
}

.card-container .menu-price {
   color: var(--font-light);
   font-size: 18px;
   font-weight: 400;
}

.card {
   background-image: url('../assets/Coffee Background.png');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 20px;
   padding: 15px;
   width: 216px;
   height: 216px;
   text-align: center;
}

.card img {
   width: 186px;
   height: 140px;
   top: 0;
}


/* Find Us */
.findus-container {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding: 0px 100px;
}

.findus-container h1 {
   padding-bottom: 20px;
}

.detail-findus p {
   font-size: 24px;
   font-weight: 400;
}

.detail-findus {
   display: flex;
   flex-direction: column;
}

.detailBox {
   width: 90%;
   height: auto;
   border-radius: 20px;
   border-style: solid;
   border-width: 1px;
   border-color: #D2D2D2;
   padding: 20px 45px;
   margin: 20px 0px;
}

.detailBox p {
   font-size: 20px;
   font-weight: 200;
}

.detailBox h2 {
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 20px;
   color: var(--font-dark);
}

.findus-wrapper img {
   border-radius: 20px;
}

.findus-wrapper {
   display: flex;
   flex-direction: row;

   align-items: center;
   width: 100%;
}

/* Footer */
footer .container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: var(--secondary);
   width: 100%;
   height: 460px;
   padding: 80px 100px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   margin-top: 100px;
}

.logo-container {
   width: 335px;
}

.icon {
   gap: 27px;
   padding-top: 31px;
}

.links-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.links-container .link {
   color: var(--font-light);
   font-size: 24px;
   font-weight: 400;
}

.links-container a:hover {
   color: var(--accent);
   transition: 0.5s;
}

.detail-menu {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.detail-menu h1 {
   padding-bottom: 30px;
}

.detail-menu p {
   font-size: 24px;
   font-weight: 500px;
}

.detail-menu .price {
   font-size: 60px;
   padding: 60px 0px;
}

.description-detail {
   padding: 45px 120px;
}

.description-detail p {
   font-size: 24px;
   font-weight: 400;
}

.divider {
   width: max-content;
   border-bottom: 5px solid var(--accent);
   margin: 20px 0px;
}

.button {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: fit-content;
   background-color: var(--button);
   border-radius: 55px;
   margin: 45px 0px;
   padding: 20px 40px;
   color: var(--font-light);
}

.button:hover {
   background-color: var(--accent);
   transition: 0.5s;
}

.help-wrapper {
   display: flex;
   flex-direction: column;
   padding: 0px 260px 0px 260px;
}

form {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
   border: 2px solid #D2D2D2;
   border-radius: 20px;
   padding: 50px 100px;
}

.input-group {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.input-group input,
.input-group textarea {
   display: flex;
   width: 60%;
   height: 71px;
   border: 1px solid #ddd;
   border-radius: 20px;
   font-size: 16px;
   padding: 20px 50px;
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 400;
}

.input-group textarea {
   height: 100px;
   resize: vertical;
}

.input-group label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   width: 40%;
   font-size: 30px;
   font-weight: 700;
}

.button-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.button-container button {
   border: none;
   width: 30%;
   height: 71px;
   padding: 20px 70px;
   font-size: 24px;
   font-weight: 700;
   justify-content: center;
}

/* Responsive Tablet and Smartphone */
@media only screen and (max-width:600px) {
   header {
      flex-direction: column;
      position: absolute;
   }

   h1 {
      font-size: 5vh;
   }

   .container {
      padding: 0px 30px;
   }

   .pageTitle {
      font-size: 5vh;
      font-weight: 700;
      padding-bottom: 20px;
   }

   a {
      font-size: 3vh;
   }

   header .container {
      padding: 0px !important;
   }

   .logo {
      width: 25vh;
      height: 5vh;
   }

   ul {
      flex-direction: column;
      padding: 0px 40px;
      align-items: flex-start;
   }

   .items-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding-top: 20px
   }

   .items {
      font-size: 3vh;
      padding: 0px
   }

   .menu-container p {
      font-size: 2.5vh;
   }

   .main {
      padding-top: 180px;
   }

   .card-container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 20px;
   }

   .card {
      width: 135px;
      height: 135px;
      padding: 13px;
   }

   .card-container .menu-title {
      font-size: 15px;
   }

   .card-container .menu-price {
      font-size: 12px;
   }

   .card img {
      width: 110px;
      height: 90px;
   }

   footer .container {
      flex-direction: column;
      width: 100%;
      margin-top: 50px;
      padding: 20px 30px;
   }

   .logo-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
   }

   .icon {
      display: flex;
      gap: 17px;
      padding-top: 0px;
   }

   .icon img {
      width: 40px;
      height: 40px;
   }

   .links-container .link {
      font-size: 3vh;
   }

   #link-item {
      padding-left: 30px;
   }

   .detail-menu {
      flex-direction: column;
   }

   .detail-menu img {
      width: 55vh;
      height: 40vh;
   }

   .detail-menu h1 {
      font-size: 4vh;
      padding-bottom: 10px;
   }

   .detail-menu p {
      font-size: 2.5vh;
   }

   .detail-menu .price {
      font-size: 6vh;
      padding: 10px 0px;
   }

   .description-detail {
      padding: 0px 20px;
   }

   .description-detail p {
      font-size: 2vh;
   }

   .button {
      font-size: 1.6vh;
      width: fit-content;
      padding: 10px 20px;
      margin: 28px 0px 0px 0px;
   }

   .button img {
      width: 4vh;
   }

   .findus-container {
      padding: 0px 30px;
   }

   .findus-container h1 {
      padding: 10px 0px;
   }

   .findus-wrapper {
      flex-direction: column-reverse;
   }

   .findus-wrapper img {
      width: 44vh;
      height: auto;
      padding-top: 0px !important;
   }

   .detail-findus {
      width: 100%;
   }

   .detail-findus p {
      font-size: 2vh;
   }

   .detailBox {
      width: fit-content;
      height: auto;
      padding: 20px 24px;
   }

   .detailBox h2 {
      font-size: 4vh;
   }

   .help-wrapper {
      padding: 0px;
   }

   form {
      padding: 30px 20px;
   }

   .input-group {
      flex-direction: column;
   }

   .input-group label {
      font-size: 3vh;
   }

   .input-group input,
   .input-group textarea {
      font-size: 3vh;
      width: 100%;
      height: auto;
      padding: 10px;
      border-radius: 5px;
   }

   .button-container button {
      margin: 20px;
   }

   .home-header {
      height: 70vh;
   }

   .header-container {
      padding: 80px 0px;
   }

   .headerHome {
      font-size: 5.6vh;
   }

   .header2Home {
      font-size: 3vh;
   }

   .home-wrapper,
   .home-wrapperReverse {
      flex-direction: column;
      padding: 20px 0px;
   }

   .home-img img {
      border-radius: 10px;
   }

   #feed1 {
      width: 155px;
      height: 212px;
   }

   #feed2 {
      width: 155px;
      height: 155px;
   }

   #feed3 {
      width: 155px;
      height: 155px;
   }

   .home-wrapper p {
      font-size: 3vh;
   }

   .feed-row {
      gap: 0px;
      margin-top: 20px;
   }

   .feed-row img {
      width: 30%;
      height: 30%;
   }

   .feedTitle {
      font-size: 3.5vh;
      text-align: center;
   }

   .feedTitle::after {
      content: " @aroma_bumi!";
      color: var(--accent);
      text-decoration: underline;
      display: block;
      font-size: 3.5vh;
   }

   .card-container a:hover {
      transform: scale(1.1);
   
      .card .menu-price, .card .menu-title {
         transform: translateY(80px);
      }
      .card img {
         transform: scale(1.2) translateY(-40px);
      }
   }
   
}